body {
  background: white !important;
}

ul {
  list-style: none;
  text-align: center;
}

ul > li > h1 {
  color: white;
}

body > div > div > div:nth-child(1) > ul > li:nth-child(1) > h1 {
  font-size: 40px;
}

.h1 {
  justify-content: center;
}
